
body{
  font-family: "Lato", cursive;
}

#header-box {
  background-image: url("../img/coffee-assortment.jpg");
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #777;
  background-position: top;
  background-size: cover;
  height: 600px;
  margin-top: -20px;
  position: relative;
}

#coffee-title {
  border: none;
  color: #eee;
  letter-spacing: 2px;
  margin-top: 120px;
  font-family: "Rammetto One", cursive;
  text-shadow: 2px 2px 2px #222;
}

#coffee-title h1 {
  background-color: transparent;
  font-size: 70px;
}

.painting {
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  margin-top: 200px;
}
#painting1 {
  background-image: url('../img/espresso-painting.jpg');
}
#painting2 {
  background-image: url('../img/mocha-painting.jpg');
}


.coffee-text {
  border: 1px solid #eee;
  color: #eee;
  font-family: "Lato", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 75px;
  margin-left: 15px;
  padding: 15px;
}

.coffee-text:hover {
  background-color: #111;
  /*color: #fff;*/
}

#coffee-split-sec {
  border-top: 2px solid #eee;
}

#coffee-combos {
  background-image: url('../img/coffee-swirl.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #888;
  height: 500px;
}

#teaBlock {
  background-image: url("../img/tea-pour.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #888;
  height: 500px;
}

#pancakes {
  background-image: url('../img/pancakes.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #888;
  height: 500px;
}

#dessert {
  background-image: url('../img/croissant.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #888;
  height: 500px;
}

.hidden {
  display: none;

}
