
#contact-container {
  background-image: url('../img/coffee-cup-beans.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #555;
  margin-top: -20px;
}
#contact-info {
  color: #eee;
  margin: 50px;
  margin-top: 140px;
  font-family: "Lato", cursive;
  font-size: 24px;
}

#contact-info p {
  margin: 25px;
}

#address {
  font-size: 22px;
}
