
body {
  background-image: url("../img/brick-wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #555;
  background-position: bottom;
  background-attachment: fixed;
}
#story-head {

  height: 220px;
}

#story-head h1 {
  color: #eee;
  font-family: "Rammetto One", cursive;
  font-size: 50px;
  margin-top: 100px;
}

#story-body {
  height: 600px;
}

#couple-box {
  height: 400px;
  margin: 15px;
}

#couple-box img {
  border: 4px solid #eee;
  border-radius: 20px;
}

#story-txt-box {
  color: #eee;
  border: 4px solid #eee;
  border-radius: 20px;
  font-family: 'Lato', cursive;
  font-size: 22px;
  margin: 15px;
  margin-right: 40px;
}
