

body {
  /*background-color: #222;*/
  overflow-x: hidden;
}

.navbar {
  border-bottom: 2px solid #eee;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

.navbar ul {
  margin-right: 25px;
}

#logo {
  border-radius: 100%;
  margin-left: 115px;
}

#homeImg {
  margin-top: -18px;
  width: 100%;
}

#hero {
  background-image: url("../img/coffee-swirl-blue.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-top: -20px;
}

#titleTxt {
  background-color: transparent;
  color: #eee;
  font-family: 'Rammetto One', cursive;
}

#title-subtext {
  background-color: transparent;
  color: #eee;
  font-family: 'Lato', cursive;
  letter-spacing: 3px;
  margin: 150px 50px;
}

#title-button {
  width: 15%;
  background-color: red;
  border: 3px solid #ccc;
  margin-left: 150px;
  padding: 15px;
}

#title-button a {
  color: #eee;
  font-family: 'Lato', cursive;
  font-size: 28px;
  letter-spacing: 2px;
}

#title-button a:hover {
  text-decoration: none;
}

#barista {
  background-image: url('../img/coffee-barista.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #eee;
  font-family: "Lato", cursive;
  height: 700px;
}
#msg-textbox {
  background-color: #222;
  color: white;
  height: 700px;
  opacity: .7;
  width: 100%;
}

#msg-textbox  p {
  background-color: #222;
  font-family: "Lato", cursive;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 75px;
  /*margin-top: 100px;*/
  padding: 50px;
  padding-top: 100px;
}

#event-buttons {
  margin-top: -150px;
}

#cater-button {
  width: 15%;
  background-color: blue;
  border: 3px solid #ccc;
  margin-left: 200px;
  padding: 15px;
}

#party-button {
  width: 15%;
  background-color: green;
  border: 3px solid #ccc;
  margin-right: 200px;
  padding: 15px;
}

#cater-button a, #party-button a {
  color: #eee;
  font-family: 'Lato', cursive;
  font-size: 28px;
  letter-spacing: 2px;
}

#cater-button a:hover, #party-button a:hover {
  text-decoration: none;
}

#map-section {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

#estBlock {
  background-image: url("../img/coffee-steam-slow.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#address-textbox {
  color: white;
  font-family: "Lato", cursive;
  height: 510px;
  opacity: .7;
}

#address-textbox h2 {
  letter-spacing: 2px;
  padding-top: 50px;
  font-style: italic;
}

#address-textbox p {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 25px 100px;
}

#map-section iframe {
  margin: 0px;
  margin-left: -10px;
  padding: 0px;
}


#tri-section {
  background-image: url("../img/coffee-kitchen.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
}

#shadow-cover {
  background-color: #222;
  height: 420px;
  margin-top: -420px;
  opacity: .8;
}
#shadow-txt {
  font-family: "Rammetto One", cursive;
  font-size: 40px;
  padding-top: 180px;
}
#shadow-txt a {
  border: 3px solid #ddd;
  color: #ddd;
  padding: 15px;
}
#shadow-txt a:hover {
  color: white;
  text-decoration: none;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}

/*  FOOTER */

footer {
  background-color: #222;
  border-top: 2px solid #eee;
  font-family: "Lato", cursive;
  height: 300px;
}

#icons-box {
  margin-top: 100px;
}
#icons-box p {
  color: #ccc;
  font-size: 20px;
}

#icons-line a {
  color: #bbb;
  letter-spacing: 10px;
}

#icons-line a:hover {
  color: #eee;
  text-decoration: none;
}

#footer-contact {
  color: #ddd;
  font-size: 18px;
  margin-top: 60px;
}
#footer-form {
  margin-top: 30px;
}
#footer-form h3 {
  color: #eee;
}

form input {
  margin: 10px;
}
